 
  .itinerario {
    grid-area: itinerario;
    background-color: #b4aeae;
    border-radius: 20px;
    border: solid #daa520 2.5px;
    margin: 5px;
    padding: 10px auto;
    text-align: center;
    opacity: 0.9;
  }
  
  .itinerario h4 {
    padding: 10px;
    text-decoration: underline;
  }
  
  .itinerario .giraEuropa img {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
  }
  
  .itinerario .paisesEuropa {
    flex-direction: column;
    text-align: center;
    margin: 10px;
  }
  
  .itinerario .paisesEuropa li {
    list-style-type: none;
    text-align: center;
    margin: 20px auto;
  }
  
  .itinerario .paisesEuropa img {
    width: 50px;
    text-align: center;
  }